<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xsi:schemaLocation="NLog NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	autoReload="true"
	internalLogFile="C:\Temp\NLog.log"
	internalLogLevel="Trace"
	>
	<extensions>
		<add assembly="NLog.Targets.Http" />
	</extensions>

	<targets>

		<target xsi:type="File" name="LogWarningToFile"
			fileName="C:\Temp\WarningMessages.log"
			>
			<layout type='JsonLayout'>
				<attribute name='message' layout='${message}' />
				<attribute name='DeviceId' layout='56624a15-d376-419b-8269-2831c87a3cbc' />
			</layout>
		</target>

		<target name='httpSender'
			type='HTTP'
			URL='http://localhost:7300/api/v1/log'
			Method='POST'
			BatchSize='1'
			MaxQueueSize='2147483647'
			IgnoreSslErrors='true'
			FlushBeforeShutdown='true'
			ContentType='application/json'
			Accept='application/json'
			DefaultConnectionLimit='2'
			Expect100Continue='false'
			UseNagleAlgorithm='true'
			ConnectTimeout='30000'
			InMemoryCompression='true'
			ProxyUrl=''
			ProxyUser=''
			ProxyPassword=''>

			<layout type='JsonLayout'>
				<attribute name='message' layout='${message}' />
				<attribute name='DeviceId' layout='ae7a1c3f-9f1a-4fb6-a6db-49abc68b61b2' />
			</layout>
			
		</target>
	</targets>
	
	<!--<rules>
		<logger name="System.*" finalMinLevel="Warn" />
		<logger name="Microsoft.*" finalMinLevel="Warn" />
		<logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
		<logger name="*" minlevel="Trace" writeTo="ownFile-web" />
	</rules>-->
	
	<rules>
		<logger name="*" minlevel="Trace" writeTo="LogWarningToFile" />
		<logger name="*" minlevel="Trace" writeTo="httpSender" />
		
		<logger name="Application.Program" minlevel="Trace" maxlevel="Fatal" writeTo="httpSender" />
	</rules>
</nlog>
